#top
{
	background-color: #000000;
}
#color
{
	color: #FFFFFF;
}
.color
{
	color: #FFFFFF;
<<<<<<< HEAD
=======
}
/* .mypanel
{
	width: 10px;
	height: 585px;
} */
.pla
{
	left: 29%;
	border-radius: 10px;
	-moz-box-shadow:4px 10px 20px #8F8F8F;
	-webkit-box-shadow:4px 10px 20px #8F8F8F; 
	box-shadow:4px 10px 20px #8F8F8F;
	width: 700px;
	height: 600px;
	position: absolute;
    /* left: 50%; */
    /* margin-left: 300; */
    /* top: 50%; */
    /* margin-top: 250; */
	
>>>>>>> Develop
}